{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. Please login
        with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<form method='post' novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn btn-primary">Login</button>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
