{% extends 'base.html' %}

{% block content %}
<h1>Authors</h1>
{% if authors %}
{% for author in authors %}
    <ul>
        <li>
            <a href="{{ author.get_absolute_url }}">{{ author }} ({{ author.date_of_birth }}-
                {% if author.date_of_death %}{{ author.date_of_death}}{% endif %}
            )</a>
        </li>
    </ul>
{% endfor %}
{% else %}
<p>There are no authors.</p>
{% endif %}

{% if perms.catalog.can_mark_returned %}<a href="{% url 'catalog:author_create' %}">Add an author</a>{% endif %}
{% endblock %}
